.container-main {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

.cards, .cards-boxes {
    display: grid;
    grid-template-columns: repeat(4, calc(25% - 22.5px)); 
    gap: 30px;
    width: 100%;
}

.logo-main {
    font-size: 36px;
    font-weight: bold;
    margin: 50px 0px;
    text-align: center;
    color: #FF7CA3;
}

.btn-show-more {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.cards-boxes {
     width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin-bottom: 70px;
}

@media (max-width: 1024px) {
    .cards, .cards-boxes {
        grid-template-columns: repeat(2, 1fr);
        padding: 0 20px;
        gap: 20px;
    }
}

@media (max-width: 600px) {
    .cards, .cards-boxes {
        grid-template-columns: 1fr;
        gap: 25px;
    }

    .logo-main {
        font-size: 28px;
        margin: 30px 0;
    }

    .container-main {
        padding: 0 15px; 
    }
}
