@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    color: #333;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    transition: 0.3s;
}
.header, .header-katalog {
    width: 100%;       
    display: block;
    background-color: #FFF7F9;
    padding: 20px;    
}

.container-header {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-header {
    font-size: 36px;
    font-weight: 700;
}

.nav a {
    margin: 0 18px;
    font-size: 18px;
    transition: 0.3s;
}

.nav a:hover {
    color: #FF7CA3;
}

.cart {
    font-size: 18px;
}

.content {
    max-width: 1200px;
    margin: 80px auto 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left {
    width: 520px;
}

.left h1 {
    font-size: 52px;
    line-height: 1.2;
    margin-bottom: 20px;
}

.left p {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 35px;
    color: #555;
}

.right img {
    width: 520px;
    max-width: 100%;
}

@media (max-width: 768px) {
     .header, .header-katalog {
        padding: 15px 10px;
    }

    .container-header {
        flex-direction: column; 
        gap: 15px;
        text-align: center;
    }

    .nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }

    .nav a {
        margin: 0 10px;
        font-size: 16px;
    }

    .content {
        margin-top: 40px;
        flex-direction: column-reverse;
        padding: 0 20px;
        text-align: center;
    }

    .left {
        width: 100%;
        margin-top: 30px;
    }

    .left h1 {
        font-size: 32px; 
    }

    .left p {
        font-size: 18px;
    }

    .right img {
        width: 100%;
        max-width: 400px;
        margin: 0 auto;
    }
}
